@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@87,9;100,12&display=swap');


:root{
  color-scheme: dark;
}
   *,html,body{

    padding: 0;
    margin: 0;
   }
   *{
    font-family:"Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    /* scroll-behavior: smooth; */
   }
  
   .parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
  }

  .navbar {
    margin: 0px 80px 0px 78px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7)
    /*   */
  }
  .navbar img{
    margin-right: auto;
    height: 43px;
   }

   .logo {
    padding: 20px;
  }
  .nav_links{
    display: flex;
  align-items: center;

  }
   .nav_links a{
    font-family: 'Nabla';
     text-decoration: none;
     margin-right: 27px;
     transition: all 0.5s ease 0s;
     padding: 2px;
     
   }
   .nav_links a:hover{
    color: yellow;
    text-shadow: #fff;
    /* background-color: rgba(225,225,0,0.2); */
    text-decoration: underline;
    transition: all ease 0.5s;
  
   }
   #linear-gradient{
    background-color: rgba(0,0,0,0.6);
    background-size: cover;
    height: 500vh;
    /* justify-content: space-between; */
   }
   #background{
    background-image: url("images/pexels-francesco-ungaro-998641.jpg");
    /* opacity: 0.8; */
    background-color: black;
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    /* width: auto; */
    /* min-width: 1440px; */
    height: 500vh;
    /* padding: 0;
    margin: 0; */
   }
   footer{
    background-color: black;
    justify-content: center;
    align-items: center;
    /* border: 2px white solid; */
    text-align: center;
    font-size: 18px;
   }
  
   .content{
    padding-top: 256px ;
    display: flex; 
    width: 1225px;
    height: 235px;
    justify-content: space-between; 
    align-items: center;
    justify-content: center;
    align-content: center;  
    /* margin-top: 87.8px; */
    margin-bottom:20vh;
    margin-left: 90px;
    margin-right: 125px;
   }
   .content>:first-child{
    width: 561px;
    height: 159px;
    margin :12px 100px 54px 40px;
    flex-shrink: 0;
   }
   .content>:last-child{
    width: 368px;
height: 235px;
flex-shrink: 0;
   }
   .content span{
    font-family: "Moon Dance";
    font-size: 72px;
    margin: 55px 128px 84px 0px;
   }
  
   .page2{
    display: flex;
    /* border: 3px white solid; */
    justify-content: space-between;
   }
   .page2 img{
    width: 368px;
    height: 235px;
    margin-left: 145px;
   }
   .page2 span{
    width: 532px;
    height: 338px;
    margin: 0px 100px 0px 200px;
   }
   #About{
    /* display: none; */
    height: 150px;
   }
   #About{
    padding-top: 20vh;
    font-family: 'Nabla';
    font-size:40px;
    margin: 10px 0px 100px 80px;
    /* margin-left:80px; */
    display: block;
   }
   